            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit Question Type</h1>
                </div>
            </div>

            <form class="form-horizontal" ng-submit="saveQuestionType()">
              <fieldset>

                  <div ng-include="'/app/questionTypes/templates/_form.html'"></div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="#/questionTypes" class="btn btn-default">Cancel</a>

                </fieldset>
            </form>