<!-- MULTIPLE CHOICE -->

<label class="radio-inline label-checkbox" ng-repeat-start="option in currentQuestion.options track by $index">
  <input
    type="checkbox"
    id="answer{{$index}}"
    ng-model="response.answer[option]"
    value="{{option}}"
    ng-checked="response.answer.indexOf(option) > -1"
    ng-click="toggleSelection(option)"
  ></label>

<label for="answer{{$index}}">{{option}}</label>
<br ng-repeat-end>

Response: {{response.answer}}


<!-- 
<input type="checkbox" ng-model="response.answer" value="smartphone"> Smartphone<br>
<input type="checkbox" ng-model="response.answer" value="mobile phone"> Mobile phone (without touch screen)<br>
<input type="checkbox" ng-model="response.answer" value="tablet"> Tablet/iPad<br>
<input type="checkbox" ng-model="response.answer" value="laptop"> Laptop<br>
<input type="checkbox" ng-model="response.answer" value="desktop"> PC/Mac<br> -->