<div class="control-group">

	<div class="form-group">
		<label for="question.name" class="col-sm-2 control-label">Question</label>
		<div class="col-sm-10">
			<input id="question.name" class="form-control" placeholder="Name" ng-model="question.name" required>
		</div>
	</div>


	<div class="form-group">
		<label for="question.state" class="col-sm-2 control-label">State</label>
		<div class="col-sm-10">
			<select id="question.state" class="form-control" ng-model="question.state">
				<option>A</option>
				<option>B</option>
				<option>C</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="question.type" class="col-sm-2 control-label">Question Type</label>
		<div class="col-sm-10">
			<select id="question.type" class="form-control" ng-model="question.type" name="type" required>
				<option ng-repeat="questionType in questionTypes" value="{{questionType._id}}">{{questionType.name}}</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="question.category" class="col-sm-2 control-label">Category</label>
		<div class="col-sm-10">
			<select id="question.category" class="form-control" ng-model="question.category" required>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="question.description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<input id="question.description" class="form-control" placeholder="Enter a short description" ng-model="question.description" required>
		</div>
	</div>


	<div class="form-group">
		<label for="question.explanation" class="col-sm-2 control-label">Explanation</label>
		<div id="question.explanation" class="col-sm-10">
			<textarea class="form-control" rows="3" ng-model="question.explanation"></textarea>
		</div>
	</div>


	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/questions" class="btn btn-default">Cancel</a>

</div>

