<div class="control-group">

	<div class="col-lg-6">

		<div class="form-group">
			<label>Question Name</label>
			<input class="form-control" placeholder="Question Name" ng-model="question.name" required>
		</div>

	</div>
	<div class="col-lg-6">

		<div class="form-group">
			<label>State</label>
			<select class="form-control" ng-model="question.state">
				<option>A</option>
				<option>B</option>
				<option>C</option>
			</select>
		</div>

	</div>


	<div class="col-lg-3">
		<div class="form-group">
			<label>Question Type</label>
			<select class="form-control" ng-model="question.type" name="type" required>
				<option ng-repeat="questionType in questionTypes" value="{{questionType._id}}">{{questionType.name}}</option>
			</select>
		</div>
	</div><!-- /.col-lg-3 -->
	<div class="col-lg-3">
		<div class="form-group">
			<label>Category</label>
			<select class="form-control" ng-model="question.category" required>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
	</div><!-- /.col-lg-3 -->
	<div class="col-lg-6">
		<div class="form-group">
			<label>Description</label>
			<input class="form-control" placeholder="Enter a short description" ng-model="question.description" required>
		</div>
	</div><!-- /.col-lg-6 -->


	<label>Explanation</label>
	<textarea class="form-control" rows="3" ng-model="question.explanation"></textarea>

	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/questions" class="btn btn-default">Cancel</a>

</div>

