<html ng-app>
<head>
	<title>Angular Demo</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ctrl/MyFirstCtrl.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	
<div ng-controller="MyFirstCtrl">

	<h1>{{myVariable}}</h1>

	<ul class="unstyled">
		<li ng-repeat="person in persons">{{person.name}}</li>
	</ul>

	<form action="" class="form-horizontal">
		<input type="text" ng-model="name"> (bidirektionale Bindung)
		<br>
		<span>{{name}}</span>
	</form>

	
	<ul class="unstyled">
		<li ng-repeat="person in persons"
			ng-style="{'fontSize': person.age+'px'}">skalierender Text</li>
	</ul>

	<form action="" class="form-horizontal">
		<input type="text" ng-model="name"> (bidirektionale Bindung)
		<br>
		<input type="number" ng-model="age">
		<span>{{name}}</span>
		<br>
		<button class="btn" ng-click="click()"><i class="icon-plus"></i> Add to List</button>
	</form>

	<!-- Methoden binden -->
	<h2>Anzahl der Personen: {{personsLength}} vs. {{getPersonsLength()}}</h2>

</div>

</body>
</html>