<div class="control-group">

	<div class="col-lg-6">

		<div class="form-group">
			<label>Name</label>
			<input class="form-control" placeholder="Name" ng-model="questionType.name" required>
		</div>

	</div>
	<div class="col-lg-6">

		<div class="form-group">
			<label>Description</label>
			<input class="form-control" placeholder="Description" ng-model="questionType.description" required>
		</div>

	</div>


	<div class="col-lg-6">
		<div class="form-group">
			<label>Parameters</label>
			<input class="form-control" placeholder="Parameters" ng-model="questionType.parameters">
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group">
			<label>Constraints</label>
			<input class="form-control" placeholder="Constraints" ng-model="questionType.constraints">
		</div>
	</div>

	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/questionTypes" class="btn btn-default">Cancel</a>

</div>

