	<div class="row">
      <div class="jumbotron col-lg-10 co-lg-offset-1 col-md-10 col-md-offset-1">
	        <h1>Pervasive Displays</h1>
	        <p class="lead">With this installation we aim at studying various research questions of displays in the public, amongst others how they can be used to facilitate conducting surveys.

	        <!-- amongst others conducting surveys for collecting quantitative data. -->
	        </p>
	        <p><a class="btn btn-lg btn-success" href="survey" role="button">Support us, answer our surveys</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
	        <h3>Research at LMU Munich</h3>
			<p>In the Group for Media Informatics at the University of Munich Prof. Dr. Florian Alt studies how people can be enticed to interact in public spaces, and how novel interaction techniques can be created for open pervasive displays. His research interest is at the crossroads of ubiquitous computing and HCI. Find out more on <a href="http://www.florian-alt.org/academic/">florian-alt.org</a>.</p>
	      </div>
	</div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
	        <h3>PDSurvey Plattform</h3>
	        <p>With this installation in Oettingenstra&szlig;e 67 we aim to simplify the conception, execution and evaluation of questionnaires. Our goal is to create a research platform allowing  display providers and fellow researchers to conduct surveys on their public display networks. Here you see the frontend of the survey platform, developed by Lukas Ziegler as part of his Master's thesis.</p>
	      </div>
	</div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
	        <h3>Collected Data</h3>
			<p>All of the collected data is used for research purposes exclusively and saved anonymously. For this survey platform we only log your responses which you explicitly submit via the survey tool.</p>
	      </div>
	</div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
	        <h3>Contact</h3>
	        <p>For further questions regarding this installation and the survey platform please contact: <a href="mailto:public.display@medien.ifi.lmu.de">public.display@medien.ifi.lmu.de</a></p>
	      </div>
	</div>