            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Campaigns</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <div class="row">
                <div class="col-lg-12" >

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            All Campaigns
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Runtime</th>
                                            <th>Display</th>
                                            <th>Survey</th>
                                            <th>Dynamic Context</th>
                                            <th>minResponses</th>
                                            <th>Created By</th>
                                            <th>Date Created</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="campaign in campaigns | orderBy : 'name'">
                                            <td>{{campaign.name}}</td>
                                            <td>{{campaign.description}}</td>
                                            <td>{{campaign.startDate}} - {{campaign.endDate}}</td>
                                            <td>{{campaign.display}}</td>
                                            <td>{{campaign.survey}}</td>
                                            <td>{{campaign.contextDynamic}}</td>
                                            <td>{{campaign.minResponses}}</td>
                                            <td>{{campaign.createdBy}}</td>
                                            <td>{{campaign.dateCreated}}</td>
                                            <td><a href="#/campaigns/{{campaign._id}}/edit" class="btn btn-default">Edit</a>
                                            <a href="" ng-click="deleteCampaign(campaign)" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                            <a href="#/campaigns/new" class="btn btn-primary">Add new Campaign</a>

                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->

                </div>
            </div>
