            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Campaigns</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <div class="row">
                <div class="col-lg-12" >

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            All Campaigns
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-v-centered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Runtime</th>
                                            <th class="text-center">Launched</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="campaign in campaigns | orderBy : 'name'">
                                            <td>{{campaign.name}}</td>
                                            <td>{{campaign.startDate | date:'dd.MM.yyyy'}} - {{campaign.endDate | date:'dd.MM.yyyy'}}</td>
                                            <td class="text-center">
                                                <a class="btn btn-default btn-xs disabled" ng-if="!campaign.launched">offline</a>
                                                <a class="btn btn-success btn-sm" ng-if="campaign.launched" href="{{frontendURL}}/campaign/{{campaign._id}}" target="_blank">live</a>
                                            </td>
                                            <!-- <td>{{campaign.dateCreated}}</td> -->
                                            <td><a href="/campaigns/{{campaign._id}}/edit" class="btn btn-default btn-sm">Edit</a>
                                            <a href="" ng-click="deleteCampaign(campaign)" class="btn btn-danger btn-sm">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                            <a href="/campaigns/new" class="btn btn-primary">Add new Campaign</a>

                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->

                </div>
            </div>
