<div class="control-group">

	<div class="col-lg-12">

		<div class="form-group">
			<label>Survey Name</label>
			<input class="form-control" placeholder="Survey Name" ng-model="survey.name" required>
		</div>

	</div>

	<div class="col-lg-12">
		<div class="form-group">
			<label>Description</label>
			<input class="form-control" placeholder="Enter a short description" ng-model="survey.description">
		</div>
	</div><!-- /.col-lg-12 -->

	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/surveys" class="btn btn-default">Cancel</a>

</div>

