
/* 
 * Addition to the normal Bootstrap Styling
 */

 div.table-no-borders {
 	margin-bottom: 0;
 	margin: 0 -15px;
 }

 div.table-no-borders > table {
 	margin-bottom: 0;
 }

table.table-v-centered td {
	vertical-align: middle !important;
}

.panel-selected {
	border-color: #6ba6df;
}

.panel-selected > .panel-heading {
	background-color: #6ba6df;
	border-color: #6ba6df;
	color: #fff;
}


.table>tbody>tr.selected>td, 
.table>tbody>tr.selected>th, 
.table>tbody>tr>td.selected, 
.table>tbody>tr>th.selected, 
.table>tfoot>tr.selected>td, 
.table>tfoot>tr.selected>th, 
.table>tfoot>tr>td.selected, 
.table>tfoot>tr>th.selected, 
.table>thead>tr.selected>td, 
.table>thead>tr.selected>th, 
.table>thead>tr>td.selected, 
.table>thead>tr>th.selected {
	background-color: #cddff0;
}

/* .table.selectable>tbody>tr { */
tr.selectable {
	cursor: pointer;
}



/*
 * Datepicker element (AngularStrap)
 */


.datepicker.dropdown-menu {
}


/** Individual Styling **/
.panel-categories a, .panel-categories a:hover, .panel-categories a:visited {
	color: #fff;
}


/* Wizard: Breadcrum-Navigation */
.breadcrumb {
	margin-bottom: 0;
	padding: 0;
}


.breadcrumb li a,
.breadcrumb li.active a {
	padding: 5px 8px 6px 7px;
	font-weight: 500;
	color: #333;
	border-radius: 5px;
}
.breadcrumb li a:hover {
	background-color: #dddddd;
	text-decoration: none;
}


.breadcrumb li.active a {
	background-color: #2563ab;
	color: #fff;
	font-weight: 400;
}
.breadcrumb li.active a:hover {
}

/* Wizard: OptionPanel / choosing an option */

.option-panel div {
	margin: 2em 0;
}

.option-panel a {
	font-size: 22px; 
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: @screen-lg-min) {
	.option-panel div:first-child {
		border-right: 1px solid #ddd;
	}
}
