/*
 * Datepicker element (AngularStrap)
 */


.datepicker.dropdown-menu {
}

/*
 * Fix/Workaround for Bootstrap row-indentation
 */

.row-indent {
	margin-left: 0;
}

.form-group {
	margin-right: 0 !important;
}

 /*

.row {
	margin-left: 0;
	margin-right: 0;
}

.page-header {
	margin-right: -15px;
	margin-left: -15px;
}

*/