
/* 
 * Addition to the normal Bootstrap Styling
 */

table.table-v-centered td {
	vertical-align: middle !important;
}


/*
 * Datepicker element (AngularStrap)
 */


.datepicker.dropdown-menu {
}


/** Individual Styling **/
.panel-categories a, .panel-categories a:hover, .panel-categories a:visited {
	color: #fff;
}


/* Wizard: Breadcrum-Navigation */
.breadcrumb {
	margin-bottom: 0;
	padding: 0;
}


.breadcrumb li a,
.breadcrumb li.active a {
	padding: 5px 8px 6px 7px;
	font-weight: 500;
	color: #333;
	border-radius: 5px;
}
.breadcrumb li a:hover {
	background-color: #dddddd;
	text-decoration: none;
}


.breadcrumb li.active a {
	background-color: #2563ab;
	color: #fff;
	font-weight: 400;
}
.breadcrumb li.active a:hover {
}

/* Wizard: OptionPanel / choosing an option */

.option-panel div {
	margin: 2em 0;
}

.option-panel a {
	font-size: 22px; 
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: @screen-lg-min) {
	.option-panel div:first-child {
		border-right: 1px solid #ddd;
	}
}
