<div class="control-group">

	<div class="form-group">
		<label for="questionnaire.name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input id="questionnaire.name" class="form-control" placeholder="Name" ng-model="questionnaire.name" required>
		</div>
	</div>


	<div class="form-group">
		<label for="questionnaire.category" class="col-sm-2 control-label">Category</label>
		<div class="col-sm-10">
			<select id="questionnaire.category" class="form-control" ng-options="category._id as category.name for category in categories" ng-model="questionnaire.category">
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="questionnaire.description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<input id="questionnaire.description" class="form-control" placeholder="" ng-model="questionnaire.description">
		</div>
	</div>

	<hr>

	<h3>Questions</h3>
	
	<div class="form-group">
		<label for="questionnaire.section.0" class="col-sm-2 control-label">Section</label>
		<div class="col-md-3">
			<input id="questionnaire.section.0" class="form-control" placeholder="Section" value="{{questionnaire.sections.name}}">
		</div>
	</div>

	<div class="form-group" ng-repeat="question in questionnaire.sections.questions">
		<label class="col-md-2 control-label">Questions</label>
		<div class="col-md-7">
			<input class="form-control" placeholder="Question" value="{{question.question}}">	
			<!-- {{questionnaire.sections.questions[1]}} -->
		</div>
		<div class="col-md-3">
			<select id="" class="form-control" ng-options="questionType._id as questionType.name for questionType in questionTypes" ng-model="question.type"></select>
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-2 text-right">
			<a href="" class="btn btn-default">Add Section</a>
		</div>
		<div class="col-md-10">
			<a href="" class="btn btn-default">Add Question</a>
		</div>
	</div>

	<hr>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/standardizedQuestions" class="btn btn-default">Cancel</a>

</div>

