<div class="control-group">

	<div class="form-group">
		<label for="questionnaire.name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input id="questionnaire.name" class="form-control" placeholder="Name" ng-model="questionnaire.name" required>
		</div>
	</div>


	<div class="form-group">
		<label for="questionnaire.category" class="col-sm-2 control-label">Category</label>
		<div class="col-sm-10">
			<select id="questionnaire.category" class="form-control" ng-options="category._id as category.name for category in categories" ng-model="questionnaire.category">
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="questionnaire.description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<input id="questionnaire.description" class="form-control" placeholder="" ng-model="questionnaire.description">
		</div>
	</div>

	<hr>

	<h3>Questions</h3>
	
	<div class="row" ng-repeat="question in questionnaire.sections.questions">
		<div class="col-md-2">
			<input class="form-control" placeholder="Section" value="{{questionnaire.sections.name}}">
		</div>
		<div class="col-md-6">
			<input class="form-control" placeholder="Question" value="{{question.question}}">	
			<!-- {{questionnaire.sections.questions[1]}} -->
				
<!-- 			<input class="form-control" placeholder="Question 2">
			<input class="form-control" placeholder="Question 3"> -->
			<br>
		</div>
		<div class="col-md-4">
			<input class="form-control" placeholder="Question Type" value="{{question.type.name}}">
		</div>
	</div>
	<br>
	<a href="" class="btn btn-default">Add Question</a>
	<a href="" class="btn btn-default">Add Section</a>

	<hr>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/standardizedQuestions" class="btn btn-default">Cancel</a>

</div>

