<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" >

        <div class="panel panel-selected">
            <div class="panel-heading">
                Embed Code
            </div>
            <div class="panel-body">

<!-- 				<div class="form-group">
				    <label>Instructions</label>
				    <ol>
				    	<li>Copy the following code</li>
				    	<li>Embed it on your public display. Paste the code before the closing <code>&lt;/body&gt;</code>-Tag</li>
				    	<li>Verify that your campaign is configured correctly</li>
				    	<li>Launch your campaign</li>
				    </ol>
				</div> -->

				<div class="form-group">
			    	<textarea id="embedCode" class="form-control" rows="5" ng-model="embedCode" ng-copy="codeCopied=true" pd-select-text></textarea>
				</div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-10 col-lg-offset-1" >

        <div class="panel panel-default">
            <div class="panel-heading">
                Campaign Details
            </div>
            <div class="panel-body">

				<div class="form-group">
				    <p>Campaign ID: <code>{{campaign._id}}</code></p>
				    <p>URL: <a href="{{campaignURL}}" target="_blank">{{campaignURL}}</a></p>
				    <p ng-hide="campaign.startDate == undefined">Start Date: {{campaign.startDate | date: 'mediumDate'}}</p>
				    <p ng-hide="campaign.endDate == undefined">End Date: {{campaign.endDate | date: 'mediumDate'}}</p>
				    
				    <br>
				    
				    <p><strong>Surveys</strong> integrated into your application:</p>
				    <ul>
				    	<li ng-repeat="survey in campaign.surveys">{{survey.name}}</li>
				    </ul>

				    <p><strong>Displays</strong> they will show up on:</p>
				    <ul>
						<li ng-repeat="display in campaign.displays">{{display.name}}</li>
					</ul>
				</div>

            </div>
        </div>
    </div>
</div>