<div class="control-group">


	<label for="campaign.name">Campaign Name</label><br>
	<div class="form-group col-lg-12">
		<input id="campaign.name" class="form-control" placeholder="Campaign Name" ng-model="campaign.name" required>
	</div>


	<label for="campaign.description">Description</label><br>
	<div class="form-group col-lg-12">
		<input id="campaign.description" class="form-control" placeholder="Enter a short description" ng-model="campaign.description">
	</div>

	<div class="row row-indent">
		<label class="control-label"><i class="fa fa-calendar"></i> Date range</label><br>
		<div class="form-group col-xs-6">
			<input type="text" class="form-control" ng-model="campaign.startDate" data-max-date="{{campaign.endDate}}" placeholder="From" bs-datepicker>
		</div>
		<div class="form-group col-xs-6">
			<input type="text" class="form-control" ng-model="campaign.endDate" data-min-date="{{campaign.startDate}}" placeholder="Until" bs-datepicker>
		</div>
	</div>


	<div class="form-group col-lg-12">
		<label class="control-label" for="campaign.display">Display</label><br>
		<input id="campaign.display" class="form-control" placeholder="TODO Dropdown" ng-model="campaign.display">
	</div>


	<label for="campaign.survey">Survey</label><br>
	<div class="form-group col-lg-12">
		<input id="campaign.survey" class="form-control" placeholder="TODO Dropdown" ng-model="campaign.survey">
	</div>


	<label for="campaign.contextDynamic">Dynamic Context</label><br>
	<div class="form-group col-lg-12">
		<input id="campaign.contextDynamic" class="form-control" placeholder="TODO AUTOCOMPLETE" ng-model="campaign.contextDynamic">
	</div>


	<label for="campaign.createdBy">Created By</label><br>
	<div class="form-group col-lg-12">
		<input id="campaign.createdBy" class="form-control" placeholder="TODO autofill with session data" ng-model="campaign.createdBy" disabled>
	</div>


	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/campaigns" class="btn btn-default">Cancel</a>

</div>

