<div class="control-group">

	<div class="col-lg-12">
		<div class="form-group">
			<label>Campaign Name</label>
			<input class="form-control" placeholder="Campaign Name" ng-model="campaign.name" required>
		</div>
	</div>


	<div class="col-lg-12">
		<div class="form-group">
			<label>Description</label>
			<input class="form-control" placeholder="Enter a short description" ng-model="campaign.description">
		</div>
	</div>


	<div class="col-lg-6">
		<div class="form-group">
			<label>Start Date</label>
			<input class="form-control" placeholder="TODO (datepicker)" ng-model="campaign.startDate">
		</div>
	</div>	
	<div class="col-lg-6">
		<div class="form-group">
			<label>End Date</label>
			<input class="form-control" placeholder="TODO (datepicker)" ng-model="campaign.endDate">
		</div>
	</div>


	<div class="col-lg-12">
		<div class="form-group">
			<label>Display</label>
			<input class="form-control" placeholder="TODO Dropdown" ng-model="campaign.display">
		</div>
	</div>


	<div class="col-lg-12">
		<div class="form-group">
			<label>Survey</label>
			<input class="form-control" placeholder="TODO Dropdown" ng-model="campaign.survey">
		</div>
	</div>


	<div class="col-lg-12">
		<div class="form-group">
			<label>Dynamic Context</label>
			<input class="form-control" placeholder="TODO AUTOCOMPLETE" ng-model="campaign.contextDynamic">
		</div>
	</div>


	<div class="col-lg-12">
		<div class="form-group">
			<label>Created By</label>
			<input class="form-control" placeholder="TODO autofill with session data" ng-model="campaign.createdBy" disabled>
		</div>
	</div>


	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/campaigns" class="btn btn-default">Cancel</a>

</div>

