<div class="control-group">

	<div class="col-lg-6">
		<div class="form-group">
			<label>Context</label>
			<input class="form-control" placeholder="Context" ng-model="context.context">
		</div>
	</div>

	<div class="col-lg-6">
		<div class="form-group">
			<label>Context Type</label>
			<input class="form-control" placeholder="static OR dynamic" ng-model="context.type">
		</div>
	</div>


	TODO: IMPLEMENT AngularStrap

<!-- 	<label>Context Type</label>
	<div class="btn-group" ng-model="context.type" bs-radio-group>
	  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="static">Static</label>
	  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="dynamic">Dynamic</label>
	</div> -->


	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/contexts" class="btn btn-default">Cancel</a>

</div>

