            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Contexts</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>



<div class="row">
    <div class="col-lg-12">
        <i class="fa fa-globe fa-3x"></i>
        <i class="fa fa-cloud fa-3x"></i>
        <i class="fa fa-bullseye fa-3x"></i>
    </div>
</div>


            <div class="row">
                <div class="col-lg-12" >

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Static Context
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Occurrences</th>
                                            <th>Aktionen</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="context in contexts">
                                            <td>{{context.context}}</td>
                                            <td>TODO</td>
                                            <td><a href="#/contexts/{{context._id}}/edit" class="btn btn-default">Edit</a>
                                            <a href="" ng-click="deleteContext(context)" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                            <a href="#/contexts/new" class="btn btn-primary">Add new Context</a>

                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->

                </div>
            </div>