

<div class="row" ng-hide="readyToConfigure()">
    <div class="col-lg-12" >
        <div class="panel panel-warning">
            <div class="panel-heading">
                You must first choose a display and a survey, in order to be able to configure and publish a campaign.
            </div>
        </div>
	</div>
</div>


<div class="row" ng-show="readyToConfigure()">
    <div class="col-lg-12" >

        <div class="panel panel-selected">
            <div class="panel-heading">
                Create your first Campaign
            </div>
            <div class="panel-body">

				<form class="form-horizontal" ng-submit="addCampaign()">
				    <fieldset>

						<div class="form-group">
							<label for="campaign.name" class="col-sm-2 control-label">Campaign*</label>
							<div class="col-sm-10">
								<input id="campaign.name" class="form-control" placeholder="Name" ng-model="campaign.name" required>
							</div>
						</div>

						<div class="form-group">
							<label for="campaign.description" class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
							<input id="campaign.description" class="form-control" placeholder="Enter a short description" ng-model="campaign.description">
							</div>
						</div>

					</fieldset>
				</form>

            </div>
        </div>
    </div>
</div>

<button pd-next-tab ng-show="readyToConfigure()"></button>

<div class="row" ng-show="readyToConfigure()">
    <div class="col-lg-12" >

        <div class="panel panel-default">
            <div class="panel-heading">
                Optional Settings
            </div>
            <div class="panel-body">

				<form class="form-horizontal" ng-submit="configureCampaign()">
				    <fieldset>

						<div class="form-group">
							<label for="campaign.startDate" class="col-sm-2 control-label"><i class="fa fa-calendar"></i> Date range</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="campaign.startDate" data-max-date="{{campaign.endDate}}" placeholder="From" bs-datepicker>
							</div>
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="campaign.endDate" data-min-date="{{campaign.startDate}}" placeholder="Until" bs-datepicker>
							</div>
						</div>


						<div class="form-group">
							<label for="campaign.contextDynamic" class="col-sm-2 control-label">Dynamic Context</label>
							<div class="col-sm-10">
								<input id="campaign.contextDynamic" class="form-control" placeholder="TODO AUTOCOMPLETE" ng-model="campaign.contextDynamic">
							</div>
						</div>


						<div class="form-group">
							<label for="campaign.minResponses" class="col-sm-2 control-label">NumResponses</label>
							<div class="col-sm-5">
								<input id="campaign.minResponses" class="form-control" placeholder="Minimum number of responses" type="number" ng-model="campaign.minResponses">
							</div>
						</div>

					</fieldset>
				</form>

            </div>
        </div>
    </div>
</div>

<button pd-next-tab></button>