<div class="panel panel-default">
	<div class="panel-heading">
	    Add Display
	</div>
	<div class="panel-body">

		<form class="form-horizontal" ng-submit="wizardDisplay()">
		    <fieldset>

				<div class="control-group">

					<div class="input-group">
						First select the displays you own or add them to our database.
						<br>
						<br>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">Display</label>
						<div class="col-md-8">

							<div class="input-group">
							    <input type="text" class="form-control" placeholder="Choose Display from Database" value="{{question.question}}" ng-model="question.question">
							    <span class="input-group-btn">
							        <button pd-add-display></button>
							    </span>
							</div>

						</div>
						<div class="col-md-2">
							<a href="" class="btn btn-default pull-right">Add Display</a>
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-2 text-right">
							or
						</div>
						<div class="col-sm-10">
							<a href="" class="btn btn-default">Add new Display to Database</a>
						</div>
					</div>

				</div>

			</fieldset>
		</form>

	</div>
</div>



<div class="row">
    <div class="col-lg-12" >

        <div class="panel panel-default">
            <div class="panel-heading">
                My Displays
            </div>
            <div class="panel-body">

            </div>

        </div>
    </div>
</div>