

<div class="alert alert-warning" ng-hide="readyToConfigure()">
    You must first choose a display and a survey, in order to be able to configure and publish a campaign.
</div>


<div class="row" ng-show="campaignLaunched">
    <div class="col-lg-12" >

        <div class="panel panel-green">
            <div class="panel-heading">
                Congratulations!
            </div>
            <div class="panel-body">
				<div class="form-group">
				    <p>Your campaign is now live and is waiting for the first reponses.</p>

				    <p>For more insights and statistics head over to <a href="/responses">Responses</a>.</p>

				    <!-- Here you can preview the responsive survey: <br><a href="{{surveyUrl}}" target="_blank">{{surveyUrl}}</a> -->
				</div>

            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="readyToConfigure()">
    <div class="col-lg-12" >

        <div class="panel panel-selected">
            <div class="panel-heading">
                Publish your Survey
            </div>
            <div class="panel-body">

				<div class="form-group">
				    <label>Instructions</label>
				    <ol>
				    	<li>Copy the following code</li>
				    	<li>Embed it on your public display. Paste the code before the closing <code>&lt;/body&gt;</code>-Tag</li>
				    	<li>Verify that your campaign is configured correctly</li>
				    	<li>Launch your campaign</li>
				    </ol>
				</div>

				<div class="form-group">
				    <p><strong>Your Embed Code</strong></p>

					<div class="row">
						<div class="col-md-3">
					    	<a href="" class="btn" ng-click="copyCode()" ng-class="{'btn-success': codeCopied, 'btn-warning': !codeCopied}">Copy Code</a>
				    	</div>
						<div class="col-md-9">
					    	<textarea id="embedCode" class="form-control" rows="3" ng-model="embedCode"></textarea>
				    	</div>
				    </div>
				</div>

				<div class="form-group">
				    <p><strong>Last step</strong></p>

					<div class="row" ng-show="!campaign.launched">
						<div class="col-md-3">
						    <a href="" class="btn" ng-class="{'btn-success': campaign.launched, 'btn-warning': !campaign.launched}" ng-click="launchCampaign()">Launch Campaign</a>
				    	</div>
						<div class="col-md-9">
							<p>Until now your campaign is in invisible mode. Only after having launched the campaign, your surveys will go live and appear on your public display.</p>
				    	</div>
				    </div>

					<div class="row" ng-show="campaign.launched">
						<div class="col-md-3">
						    <a href="" class="btn" ng-class="{'btn-success': campaign.launched, 'btn-warning': !campaign.launched}" ng-click="launchCampaign()">Campaign is live</a>
				    	</div>
						<div class="col-md-9">
							<p>Your campaign is live and should show up on your public display on the next page refresh. Congrats!</p>
				    	</div>
				    </div>
				</div>

            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="readyToConfigure()">
    <div class="col-lg-12" >

        <div class="panel panel-default">
            <div class="panel-heading">
                Campaign Details
            </div>
            <div class="panel-body">

				<div class="form-group">
				    <label>Information</label>
				    <p>Campaign ID: <code>{{campaignId}}</code></p>
				    <p>URL: <a href="{{surveyUrl}}" target="_blank">{{surveyUrl}}</a></p>
				    <p ng-hide="campaign.startDate == undefined">Start Date: {{campaign.startDate | date: 'dd.MM.yyyy'}}</p>
				    <p ng-hide="campaign.endDate == undefined">End Date: {{campaign.endDate | date: 'dd.MM.yyyy'}}</p>
				    
				    <br>
				    
				    <p><strong>Surveys</strong> integrated into your application:</p>
				    <ul>
				    	<li ng-repeat="survey in mySurveys">{{survey.name}}</li>
				    </ul>

				    <p><strong>Displays</strong> they will show up on:</p>
				    <ul>
						<li ng-repeat="display in myDisplays">{{display.name}}</li>
					</ul>
				</div>

            </div>
        </div>
    </div>
</div>

<button pd-next-tab></button>