            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" >

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            All Users
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-v-centered">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Rights</th>
                                            <th>Date Registered</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users">
                                            <td>{{user.username}}</td>
                                            <td>{{user.fullname}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.rights}}</td>
                                            <td>{{user.dateRegistered | date:'mediumDate'}}</td>
                                            <td class="nowrap text-right"><a href="users/{{user._id}}/edit" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i></a>
                                            <a href="" ng-click="deleteUser(user)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                            <a href="users/new" class="btn btn-primary">Add new User</a>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
            </div>