
<div class="control-group">

	<div class="form-group">
		<label for="survey.name" class="col-sm-2 control-label">Name*</label>
		<div class="col-sm-10">
			<input id="survey.name" class="form-control" placeholder="Name" ng-model="survey.name" required>
		</div>
	</div>


	<div class="form-group">
		<label for="survey.category" class="col-sm-2 control-label">Category</label>
		<div class="col-sm-10">
			<select id="survey.category" class="form-control" ng-options="category as category.name for category in categories" ng-model="survey.category">
			</select>
		</div>
	</div>


	<div class="form-group" data-restrict access="admin">
		<label for="survey.state" class="col-sm-2 control-label">State</label>
		<div class="col-sm-10">
			<select id="survey.state" class="form-control" ng-model="survey.state">
				<option value="standardized">Standardized</option>
				<option value="personal">Personal</option>
				<option value="suggested">Suggested</option>
				<option value="approved">Approved</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="survey.description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<input id="survey.description" class="form-control" placeholder="" ng-model="survey.description">
		</div>
	</div>

	<hr>

	<h4>Questions</h4>
	
	<div ng-repeat="section in survey.sections">
			
		<div class="form-group">
			<label class="col-sm-2 control-label">Section</label>
			<div class="col-sm-5 col-md-4 col-lg-3">
				<input class="form-control btn-default active" placeholder="Section (optional)" value="{{section.name}}" ng-model="section.name">
			</div>
		</div>

		<div class="form-group" ng-repeat="question in section.questions">
			<label class="col-sm-2 control-label"><span ng-if="$index == 0">Questions*</span></label>
			<div class="col-sm-10">
					
				<div class="row">
					<div class="col-xs-8">
						<div class="input-group">
						    <input type="text" class="form-control" placeholder="Question" value="{{question.question}}" ng-model="question.question">
						    <span class="input-group-btn">
						        <button pd-delete-question></button>
						    </span>
						</div>
					</div>
					<div class="col-xs-4">
						<select id="" class="form-control" ng-options="questionType._id as questionType.name for questionType in questionTypes" ng-model="question.type" require></select>
					</div>
				</div>

				<!-- <div class="row" ng-if="question.type == 5492af86867c60fbc2c979a0">
					enter options: 
				</div> -->

			</div>
		</div>


		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<button pd-add-question></button>
			</div>
		</div>

	</div>

	<div class="form-group">
		<div class="col-xs-2 text-right">
			<button pd-add-section></button>
		</div>
	</div>

</div>
