

<div class="row" ng-hide="readyToConfigure()">
    <div class="col-lg-12" >
        <div class="panel panel-warning">
            <div class="panel-heading">
                You must first choose a display and a survey, in order to be able to configure and publish a campaign.
            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="myDisplays.length > 0">
    <div class="col-lg-12" >

        <div class="panel panel-default">
            <div class="panel-heading">
                Configure your Campaign
            </div>
            <div class="panel-body">

				<div class="form-group">
				    asdf
			    </div>

            </div>
        </div>
    </div>
</div>

<button pd-next-tab></button>