<!-- MULTIPLE CHOICE -->
<input type="number" ng-model="response.answer" class="form-control" placeholder="How many?" style="width: 10em" class="text-center" required>


<input type="checkbox" ng-model="response.answer" value="smartphone"> Smartphone<br>
<input type="checkbox" ng-model="response.answer" value="mobile phone"> Mobile phone (without touch screen)<br>
<input type="checkbox" ng-model="response.answer" value="tablet"> Tablet/iPad<br>
<input type="checkbox" ng-model="response.answer" value="laptop"> Laptop<br>
<input type="checkbox" ng-model="response.answer" value="desktop"> PC/Mac<br>>
