<div class="control-group">

	<div class="col-lg-12">

		<div class="form-group">
			<label>Display Name</label>
			<input class="form-control" placeholder="Name of Display" ng-model="display.name" required>
		</div>

	</div>

	<div class="col-lg-6">
		<div class="form-group">
			<label>Producer</label>
			<input class="form-control" placeholder="Name of Producer" ng-model="display.producer">
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group">
			<label>Product Website</label>
			<input class="form-control" placeholder="http://" ng-model="display.url">
		</div>
	</div>

	<div class="col-lg-12">
		<div class="form-group">
			<label>Characteristics</label>
			<input class="form-control" placeholder="TODO: Autocomplete" ng-model="display.characteristics">
		</div>
	</div>

	<div class="col-lg-12">
		<div class="form-group">
			<label>Context</label>
			<input class="form-control" placeholder="Static Context (TODO: Autocomplete)" ng-model="display.contextStatic">
		</div>
	</div>

	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/displays" class="btn btn-default">Cancel</a>

</div>

