<div class="control-group">


	<div class="form-group">
		<label for="display.name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" id="display.name" class="form-control" placeholder="Abbreviation for Display (e.g. CIP Pool)" ng-model="display.name" required>
		</div>
	</div>


	<div class="form-group">
		<label for="display.displayModel" class="col-sm-2 control-label">Model</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id="display.displayModel" ng-model="display.displayModel" ng-options="displayModel._id as displayModel.name for displayModel in displayModels" placeholder="Choose Model from Database" bs-typeahead required>
				<span class="input-group-btn">
					<!-- <button pd-add-display-model></button> -->
					<button class="btn btn-default" type="button" title="Add a new Model"data-animation="am-fade-and-scale" data-template="modal/wizard/addDisplayModel.html" bs-modal="modal"><i class="fa fa-plus"></i></button>
				</span>
			</div>
		</div>
	</div>
	

	<div class="form-group">
		<label for="display.location" class="col-sm-2 control-label">Location</label>
		<div class="col-sm-10">
			<input type="text" id="display.location" class="form-control" placeholder="Where is it located?" ng-model="display.location">
		</div>
	</div>


	<div class="form-group"> 
		<label for="display.contextDynamic" class="col-sm-2 control-label">Context</label>
		<div class="col-sm-10">
 			<select id="display.contextDynamic" class="form-control" ng-options="context as context.name for context in dynamicContexts" ng-model="display.contextDynamic" ng-change="addContext(display.contextDynamic)" ng-selected="alert('foo')" pd-add-context></select>
 		</div>
	</div>


	<div class="form-group" ng-repeat="context in contextDynamic">
		<div class="col-sm-3 col-sm-offset-2 text-right">{{context.name}}</div>
    	<div class="col-sm-7">
			<div class="input-group">
				<input class="form-control" placeholder="" ng-model="context.value">
			    <span class="input-group-btn">
 					<button pd-remove-context></button>
				</span>
			</div>
    	</div>
	</div>

	
	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/displays" class="btn btn-default">Cancel</a>

</div>

