<div class="control-group">



	<div class="form-group">
		<label for="display.name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input id="display.name" class="form-control" placeholder="Name of Display" ng-model="display.name" required>
		</div>
	</div>


	<div class="form-group">
		<label for="display.displayModel" class="col-sm-2 control-label">Display Model</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="display.displayModel" ng-options="displayModel as displayModel.name for displayModel in displayModels" placeholder="Type of Display" bs-typeahead required>
		</div>
	</div>


	<div class="form-group">
		<label for="display.url" class="col-sm-2 control-label">Location</label>
		<div class="col-sm-10">
			<input id="display.location" class="form-control" placeholder="Where is it positioned?" ng-model="display.location" required>
		</div>
	</div>


	<div class="form-group">
		<label for="display.contextDynamic" class="col-sm-2 control-label">Context</label>
		<div class="col-sm-10">
			<div class="input-group">
			    <input id="display.contextDynamic" type="text" class="form-control" placeholder="Assign a Dynamic Context" ng-options="context as context.context for context in contexts" ng-model="display.contextDynamic" bs-typeahead>
<!-- 			    <input id="displayModel.contextStatic" type="text" class="form-control" ng-model="displayModel.contextStatic" ng-options="context as context.context for context in contexts" placeholder="Assign a Static Context" bs-typeahead>
 -->
			    <span class="input-group-btn">
			        <button pd-add-context></button>
			    </span>
			</div>
		</div>
	</div>

	<div class="form-group" ng-repeat="context in contextList">
		<div class="col-sm-2"><strong>{{context.context}}</label></div>
    	<div class="col-sm-7">
			<input class="form-control" placeholder="" ng-model="context.value">
    	</div>
	</div>

	<hr>

	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#/displays" class="btn btn-default">Cancel</a>

</div>

