<!-- RADIO BUTTONS -->

<div class="radio-button">
        <label class="radio-label" for="female">Female</label>
        
        <label class="radio-inline"><input type="radio" ng-model="response.answer" name="optionsRadiosInline" id="female" value="female" class="input-lg">&#9792;</label>
        
        <label class="radio-inline"><input type="radio" ng-model="response.answer" name="optionsRadiosInline" id="male" value="male" class="input-lg">&#9794;</label>

        <label class="radio-label" for="male">Male</label>

</div>