<!-- BINARY QUESTIONS -->

<div class="radio-button">

        <label class="radio-label" for="radioNo">I disagree</label>

        <label class="radio-inline"><input type="radio" ng-model="response.answer" name="radioNo" id="radioNo" value="no" class="input-lg">No</label>

        <label class="radio-inline">
        <input type="radio" ng-model="response.answer" name="radioYes" id="radioYes" value="yes" class="input-lg">Yes</label>

        <label class="radio-label" for="radioYes">I agree</label>

</div>