	<div class="row" style="margin-top: 100px; margin-bottom: 35px">
      <div class="jumbotron col-lg-10 co-lg-offset-1 col-md-10 col-md-offset-1">
	        <h1>Hey there, got a minute!?</h1>
	        <p class="lead">Support my Master's thesis and answer 5 short questions.</p>
	        <p><a href="/survey" class="btn btn-lg btn-success" role="button">Lets get started!</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
	        <h4>This display is brought to you by the Group for Media Informatics</h4>
	        <p>With this installation we aim at studying various research questions of displays in the public, amongst others how they can be used to facilitate conducting surveys. <a href="/about">Find out more</a></p>
	      </div>
	</div>